.l-banner {
  position: relative;
  margin: 0 auto;
  // margin-bottom: 4rem;

  @include media-breakpoint-down(md) {
    // margin-bottom: 2rem;
  }

  @include media-breakpoint-down(xs) {
    // margin-bottom: 1rem;
  }

  @include media-breakpoint-up(sm) {
    &__hero {
      top: 20%;
    }
  }
}

.c-banner {
  // width: 100%;
  // min-height: 568px;
  // // max-height: 1440px;
  max-width: 1920px;

  &__filter {
    background: $blackl1;
  }

  // &__hero {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   // z-index: -1;
  //   max-width: 50%;
  //   max-height: 50%;
  //   transform: translate(0, -50%);
  // }

  &__photo {
    position: absolute;
    bottom: 0;
    left: 2%;
    z-index: -1;
    max-width: 48%;
    max-height: 95%;
  }

  &__logo {
    position: absolute;
    bottom: 40%;
    left: 72%;
    max-width: 50%;
    max-height: 50%;
    transform: translate(-50%, 0);
  }

  &__btn {
    position: absolute;
    top: 65%;
    left: 72%;
    // margin-top: 20%;
    text-align: center;
    transform: translate(-50%, 50%);
  }

  @include media-breakpoint-down(lg) {
    background-position: 65% 100%;
    background-size: auto 120%;

    &__title {
      margin-bottom: 3rem;
      font-size: 3.2rem;
    }

    &__description {
      margin-bottom: 3rem;
      font-size: 1.4rem;
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      margin-bottom: 2rem;
      font-size: 2.4rem;
    }

    &__description {
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 2.3rem;
    }
  }

  @include media-breakpoint-down(xs) {
    background-position: 66% 100%;

    &__title {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    &__description {
      margin-right: 1rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 150%;
    }
  }
}
