.l-btn {
  display: inline-block;
  text-align: center;
}

.c-btn {
  width: 220px;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  background-color: $green;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 2px $greend;
  transition: text-decoration 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $greend;
  }

  &:active:hover {
    box-shadow: none;
  }

  @include media-breakpoint-down(md) {
    width: 180px;
    padding: 0.8rem;
    font-size: 1rem;
    box-shadow: 0 0 1px $greend;
  }
}
