// @import 'variables';


/*---- Footer Start-----*/
footer{
    // margin-top: 1em;
    background-color: $prim;
    border-top: solid $brd 2px;
}

.footer__contact{
    list-style-type: none;
    text-align: center;
    padding: 0.5rem 0;
}

.footer__contact li {
    display: inline;
}

.footer__contact i:hover{
    color: #fff;
}

.footer__link, .footer__txt {
    display: inline-block;
    font-size: 1em;
    padding: 0.8em 2%;
    color: $whited;
    transition: 0.2s ease;
}

.footer__link:hover {
    color: $white;
    text-decoration: none;
}

footer ul{
    margin: 0;
    padding: 0;
}

.footer__copy{
    border-top: 1px solid $divider;
    background-color: $primd;
    // max-height: 55px;
    margin: 0;
}

.footer__copy p{
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    color: $divider;
}

.footer__copy a{
    color: $divider !important;
}

// Sticky footer in Contact.html
.footers {
    width: 100%;
    position: absolute;
    bottom: 0;
  }